<%-include("header") -%>
<h2>this is about page</h2>

<p>this is paragraph this is paragraphthis is paragraphthis is paragraphthis is paragraphthis is paragraphthis is
  paragraph</p>
<%-include("footer") -%>